Covid19SOAP/CapaServicioExterno/Web References/HanaService/SI_OS_CONSULTA_DATOS_TRABAJADORES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_OS_CONSULTA_DATOS_TRABAJADORES" targetNamespace="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OS_CONSULTA_DATOS_TRABAJADORES" />
  <wsdl:types>
    <xsd:schema xmlns="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" targetNamespace="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_CONSULTA_DATOSTRABAJADORES_REQ" type="p1:DT_CONSULTA_DATOSTRABAJADORES_REQ" />
      <xsd:element name="MT_CONSULTA_DATOSTRABAJADORES_RES" type="p1:DT_CONSULTA_DATOSTRABAJADORES_RES" />
      <xsd:complexType name="DT_CONSULTA_DATOSTRABAJADORES_RES">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5aa23fb49f3311e98c8c0000003e80fb</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="TI_ZTRABAJADORES">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee7d9db811e9899854e1ad08b07e</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Mandt" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6625b9db811e9af9b54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Corporacion" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6625c9db811e98a0154e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Sociedad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6625d9db811e9906d54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Nombre_Sociedad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6625e9db811e99b4454e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Codigo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6625f9db811e9c84f54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Nombre_Completo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f662609db811e99f1c54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Nombre" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f662619db811e98a0354e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Apellido_Paterno" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f662629db811e9bad454e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Apellido_Materno" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6632f9db811e985a254e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Tipo_Documento" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663309db811e9854254e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Numero_Documento" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663319db811e9bb8454e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Sexo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663329db811e9862954e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Estado_Civil" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663339db811e9a3ef54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Fecha_Ingreso" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663349db811e9a6de54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Unidad_Organizat" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663359db811e9b37a54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Unidad_Orga" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663369db811e9cd8754e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Centro_Costo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663379db811e9ad8354e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Centro_Cost" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663389db811e98bc554e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Division_Persona" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663399db811e9c82554e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Division_Pe" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6633a9db811e9ccb154e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Subdivision_Pers" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6633b9db811e9857654e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Subdivision" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6633c9db811e9c4b954e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Posicion" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6633d9db811e9a5e254e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Posicion" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6633e9db811e987c754e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Area_Personal" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6633f9db811e9823954e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Area_Person" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f663409db811e9b17854e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Situacion_Trabaj" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac579db811e990e154e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Fecha_Nacimiento" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac589db811e98c6e54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Fecha_Cumpleanos" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac599db811e9907f54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Email_Trabajo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac5a9db811e9953d54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Fecha_Retiro" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac5b9db811e9aaa554e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Codigo_Jefe" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac5c9db811e98c6d54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Nombre_Jefe" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac5d9db811e9938154e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="AreaFe_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac5e9db811e9ac2c54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="AreaFe_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac5f9db811e9a49954e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="AreaFe_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac609db811e9cf4a54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="AreaFe_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac619db811e9bd4f54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SubGer_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac629db811e98bed54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SubGer_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac639db811e9bf5554e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SubGer_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac649db811e9aafc54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SubGer_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac659db811e98c1454e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Gerenc_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac669db811e99c5954e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Gerenc_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac679db811e9c68a54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Gerenc_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac689db811e9a5fa54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Gerenc_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac699db811e984df54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerDiv_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac6a9db811e9911954e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerDiv_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac6b9db811e98d7e54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerDiv_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac6c9db811e98eab54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerDiv_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac6d9db811e9b53f54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCen_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ac6e9db811e999ea54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCen_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3e79db811e9b5d054e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCen_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3e89db811e9a3ef54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCen_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3e99db811e98bb854e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerGen_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3ea9db811e9acd654e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerGen_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3eb9db811e9adfb54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerGen_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3ec9db811e98b3d54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerGen_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3ed9db811e9b4dd54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCor_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3ee9db811e99d5654e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCor_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3ef9db811e9bccb54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCor_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f09db811e9c51054e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GerCor_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f19db811e9bf1554e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GegCor_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f29db811e9c40b54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GegCor_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f39db811e98a8a54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GegCor_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f49db811e9c90e54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="GegCor_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f59db811e9be2a54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Precor_Unidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f69db811e9cdf754e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Precor_Unides" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f79db811e9ad1d54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Precor_Codres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f89db811e9c3e554e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Precor_Desres" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6c3f99db811e99f3354e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Codigo_Autogener" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee779db811e9c84054e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Lugar_Comercial" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee789db811e9878654e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Direcc_Establec" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee799db811e9a75d54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Ind_Meca_Viaje" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee7a9db811e9c29e54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Cws_ID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee7b9db811e9bfff54e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Cup_ID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04f6ee7c9db811e9a82054e1ad08b07e</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="return">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="message">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_CONSULTA_DATOSTRABAJADORES_REQ">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7db10e7f5f8f11e8c62c0000003e80fc</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Sociedad">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3ee5f9011e89a6300059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Codigo">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3ef5f9011e8897600059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NumeroDocumento">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f05f9011e894a200059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Sexo">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f15f9011e8847500059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EstadoCivil">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f25f9011e89de200059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FechaIngreso" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f35f9011e8af9a00059a3c7a00</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Unidad_Organizat">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f45f9011e89ed100059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CentroCosto">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f55f9011e8952100059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DivisionPersona">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f65f9011e8902700059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SubdivisionPersona">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f75f9011e8c74600059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Posicion">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f85f9011e8986400059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="AreaPersonal">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3f95f9011e8b2a300059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Nombre">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3fa5f9011e88f3a00059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="130" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CodigoAutoGen">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3fb5f9011e8a9bb00059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FechaCumple">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a527a3fc5f9011e8beb300059a3c7a00</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_CONSULTA_DATOSTRABAJADORES_REQ">
    <wsdl:documentation />
    <wsdl:part name="MT_CONSULTA_DATOSTRABAJADORES_REQ" element="p1:MT_CONSULTA_DATOSTRABAJADORES_REQ" />
  </wsdl:message>
  <wsdl:message name="MT_CONSULTA_DATOSTRABAJADORES_RES">
    <wsdl:documentation />
    <wsdl:part name="MT_CONSULTA_DATOSTRABAJADORES_RES" element="p1:MT_CONSULTA_DATOSTRABAJADORES_RES" />
  </wsdl:message>
  <wsdl:portType name="SI_OS_CONSULTA_DATOS_TRABAJADORES">
    <wsdl:documentation />
    <wsdl:operation name="SI_OS_CONSULTA_DATOS_TRABAJADORES">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OS_CONSULTA_DATOS_TRABAJADORES" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_CONSULTA_DATOSTRABAJADORES_REQ" />
      <wsdl:output message="p1:MT_CONSULTA_DATOSTRABAJADORES_RES" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OS_CONSULTA_DATOS_TRABAJADORESBinding" type="p1:SI_OS_CONSULTA_DATOS_TRABAJADORES">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OS_CONSULTA_DATOS_TRABAJADORES">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OS_CONSULTA_DATOS_TRABAJADORESService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OS_CONSULTA_DATOS_TRABAJADORESBinding">
      <address location="http://vhfryfpdci.hec.ferreycorp.com.pe:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FCORP_HCM_LEGACY_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CONSULTA_DATOS_TRABAJADORES&amp;interfaceNamespace=https%3A%2F%2Fwww.ferreycorp.com.pe%2FHCM_LEGACY%2FConsultaTrabajadores%2FHCM_PT-I-004" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OS_CONSULTA_DATOS_TRABAJADORESBinding">
      <address location="https://vhfryfpdci.hec.ferreycorp.com.pe:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FCORP_HCM_LEGACY_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CONSULTA_DATOS_TRABAJADORES&amp;interfaceNamespace=https%3A%2F%2Fwww.ferreycorp.com.pe%2FHCM_LEGACY%2FConsultaTrabajadores%2FHCM_PT-I-004" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>