Covid19SOAP/CapaServicioExterno/Web References/wsHanaUnidadesOrganizativas/SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA" targetNamespace="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA" />
  <wsdl:types>
    <xsd:schema xmlns="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" targetNamespace="https://www.ferreycorp.com.pe/HCM_LEGACY/ConsultaTrabajadores/HCM_PT-I-004" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_CONSULTA_UNIDAD_ORGANIZATIVA_RES" type="p1:DT_CONSULTA_UNIDAD_ORGANIZATIVA_RES" />
      <xsd:element name="MT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ" type="p1:DT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ" />
      <xsd:complexType name="DT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">f19a892e603711e8ca670000003e80fb</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Unidad_Orga">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f236f328603711e89d38549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Sociedad">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f236f329603711e8a9cd549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Unidad_OrgSup">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f236f32a603711e8c6bd549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Desc_UnidadOrga">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f236f32b603711e8b810549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Codigo_Responsable">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f236f32c603711e8a6cb549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Sit_Func">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f236f32d603711e8b402549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_CONSULTA_UNIDAD_ORGANIZATIVA_RES">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">1e44dedc603411e886900000003e80fb</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="IT_ZUND_ORGANIZATIV">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe39603411e8a21c549cee75e911</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Corporacion">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe30603411e8b641549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="2" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Sociedad">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe31603411e88f3b549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="5" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Unidad_Orga">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe32603411e8a440549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Unid_Organiz_Sup">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe33603411e8a544549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="8" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Unidad_Orga">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe34603411e89439549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="50" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Codigo_Responsable">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe35603411e8b76f549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Funciones">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe36603411e88224549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="255" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Sit_Unid_Func">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe37603411e8b5f0549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="1" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Nivel">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8dd1fe38603411e8a9a6549cee75e911</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="0" />
                      <xsd:maxLength value="2" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ">
    <wsdl:documentation />
    <wsdl:part name="MT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ" element="p1:MT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ" />
  </wsdl:message>
  <wsdl:message name="MT_CONSULTA_UNIDAD_ORGANIZATIVA_RES">
    <wsdl:documentation />
    <wsdl:part name="MT_CONSULTA_UNIDAD_ORGANIZATIVA_RES" element="p1:MT_CONSULTA_UNIDAD_ORGANIZATIVA_RES" />
  </wsdl:message>
  <wsdl:portType name="SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA">
    <wsdl:documentation />
    <wsdl:operation name="SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_CONSULTA_UNIDAD_ORGANIZATIVA_REQ" />
      <wsdl:output message="p1:MT_CONSULTA_UNIDAD_ORGANIZATIVA_RES" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OS_CONSULTA_UNIDAD_ORGANIZATIVABinding" type="p1:SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OS_CONSULTA_UNIDAD_ORGANIZATIVAService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OS_CONSULTA_UNIDAD_ORGANIZATIVABinding">
      <address location="http://vhfryfpdci.hec.ferreycorp.com.pe:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FCORP_HCM_LEGACY_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA&amp;interfaceNamespace=https%3A%2F%2Fwww.ferreycorp.com.pe%2FHCM_LEGACY%2FConsultaTrabajadores%2FHCM_PT-I-004" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OS_CONSULTA_UNIDAD_ORGANIZATIVABinding">
      <address location="https://vhfryfpdci.hec.ferreycorp.com.pe:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FCORP_HCM_LEGACY_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CONSULTA_UNIDAD_ORGANIZATIVA&amp;interfaceNamespace=https%3A%2F%2Fwww.ferreycorp.com.pe%2FHCM_LEGACY%2FConsultaTrabajadores%2FHCM_PT-I-004" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>